body{
    margin: 0;
    padding: 0;
}


.siteHeader{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.menuLogoSearch{
    display: flex;
}

.logo{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    flex: 1 1 100px;
}

.menu{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    flex: 3 1 100px;
}



.menuContentAdUnit{
    display: flex;
}
.search{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    flex:1 1 100px;
}
.sideMenu{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    flex: 1 1 100px;
}

.content{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    flex: 3 1 100px;
}

.adUnit{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    flex: 1 1 100px;
}

.footer{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 22px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}